@import url('https://fonts.googleapis.com/css2?family=Assistant:wght@100;400;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;
/* 
:root {
    --main-color: #4e47f9;
    --main-bg-color: #f4f3fd;
} */

body {
  font-family: 'Assistant';
}
